addict==2.4.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
alabaster==0.7.12
annotated-types==0.5.0
anyio==4.0.0
appdirs==1.4.4
appnope==0.1.2
APScheduler==3.10.1
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
bidict==0.22.1
blessings==1.7
boto3==1.26.86
botocore==1.29.86
cachelib==0.10.2
cachey==0.2.1
certifi==2021.5.30
cffi==1.15.1
charset-normalizer==2.0.6
click==8.0.1
cloudpickle==2.0.0
cryptography==40.0.1
cycler==0.10.0
dask==2021.9.1
debugpy==1.5.0
decorator==5.1.0
deprecation==2.1.0
docopt==0.6.2
docstring-parser==0.11
docutils==0.17.1
ee==0.2
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.1.3
Flask==2.2.2
Flask-APScheduler==1.12.4
Flask-Cors==3.0.10
Flask-Session==0.4.0
Flask-SocketIO==5.3.2
freetype-py==2.2.0
frozenlist==1.3.3
fsspec==2021.10.0
googlemaps==4.6.0
gotrue==1.1.0
h11==0.14.0
HeapDict==1.0.1
hsluv==5.0.2
httpcore==0.17.3
httpx==0.24.1
idna==3.2
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==6.0.0
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.0.2
jmespath==1.0.1
joblib==1.0.1
jsonschema==4.0.1
jupyter-client==7.0.6
jupyter-core==4.8.1
kiwisolver==1.3.2
locket==0.2.1
magicgui==0.2.11
MarkupSafe==2.1.2
matplotlib==3.4.3
matplotlib-inline==0.1.3
multidict==6.0.4
napari==0.4.11
napari-console==0.0.4
napari-plugin-engine==0.2.0
napari-svg==0.1.5
nest-asyncio==1.5.1
numpy==1.21.2
numpydoc==1.1.0
open3d==0.13.0
opencv-python==4.7.0.72
openpyxl==3.0.10
packaging==21.0
pandas==1.3.3
parso==0.8.2
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
Pint==0.17
pipreqs==0.4.11
PitneyBowesShippingAPI @ git+https://github.com/PitneyBowes/pitneybowes-shipping-api-python.git@72bb66145fbfa54d6c06540e7f61b0cd25063862
postgrest==0.10.8
prettyprint==0.1.5
prompt-toolkit==3.0.20
psutil==5.8.0
ptyprocess==0.7.0
pycparser==2.21
pydantic==2.3.0
pydantic-core==2.6.3
pydicom==2.2.2
Pygments==2.10.0
PyJWT==2.6.0
pylibjpeg==1.3.0
pylibjpeg-libjpeg==1.2.0
pylibjpeg-openjpeg==1.1.1
pylibjpeg-rle==1.1.0
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
pyrsistent==0.18.0
python-dateutil==2.8.2
python-dotenv==0.19.0
python-engineio==4.3.4
python-socketio==5.7.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.4.1
pyzmq==22.3.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
qtconsole==5.1.1
QtPy==1.11.2
realtime==1.0.0
requests==2.26.0
s3transfer==0.6.0
scikit-learn==1.0
scipy==1.7.1
six==1.16.0
slicer==0.0.7
sniffio==1.3.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
storage3==0.5.4
StrEnum==0.4.15
supabase==1.0.4
supafunc==0.2.3
superqt==0.2.4
threadpoolctl==3.0.0
tifffile==2021.8.30
toolz==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
twilio==8.0.0
typing-extensions==4.7.1
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.7
uuid==1.30
vispy==0.9.0
vtk==9.2.6
wcwidth==0.2.5
websockets==10.4
Werkzeug==2.2.2
wrapt==1.13.1
yarg==0.1.9
yarl==1.8.2
zipp==3.12.1
